@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --clr-background: var(--color-white);
}

.dark {
    --clr-background: var(--color-neutral-900);
}

/* Theme */

@theme {
    --color-main: var(--clr-background);
}